# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
build/
.env
.DS_Store
REACT_APP_EMAILJS_SERVICE_ID=service_to0g211
REACT_APP_EMAILJS_TEMPLATE_ID=template_781sucf
REACT_APP_EMAILJS_PUBLIC_KEY=72DnGcS5AqOzcZ4w8

